body {
	font-size: 14px;
	font-family: monospace;
	max-width: 560px;
	margin: 4rem auto;
	line-height: 1.4em;
	background: #3333dd;
	color: white;
}

main {
	padding: 2rem;
}

a {
	color: #ff55ff;
}

h3 {
	margin-top: 3rem;
}

hr {
	margin-top: 3rem;
	margin-bottom: 1rem;
	border-top: 1px solid white;
}
